h1 {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin: 2px;
    letter-spacing: 1px;
	line-height: 21px;
}

h2 {
    font-size: 12px;
    text-align: center;
    margin: 2px;
    letter-spacing: 1px;
}

.addAnimalButton {
    float: right;
	display: block;
    margin: 0 0 10px 10px;
}

.addAnimalNoteButton {
    float: right;
	display: block;
    margin: 0 0 10px 10px;
}

.email {
	width: 100% !important;
	  max-width: 600px;
	  margin: 5 auto !important;
}

.button {
	margin: 5 auto !important;
}

.logo-header {
	display: inline-block !important;
	margin: 0 auto !important;
	height: 40px;
	width: 130px;
}

.logo-header img {
	height: 40px;
	margin-left: 10px !important;
	margin-top: -15px !important;
	margin-bottom: 15px !important;
	width: 130px;
	margin: 0 auto;
	display: inline-block;
}

.calendar-container {
	max-width: 600px;
	margin: 0px auto;
}

.input-group-addon {
    min-width:100px;// if you want width please write here //
    text-align:left;
}

.input-group {
	max-width: 600px;
	margin: 5px auto;
}

.form-control {
	max-width: 600px;
}

.PostTextArea {
    display: block !important;
	width: 100%;
	max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin: 5px auto !important;
}

.smallHelpText {
	font-size: 10px;
	max-width: 600px;
	margin: 0 auto;
	margin-top: -20px;
}

.dropdownToggleStyle {
    float: right;
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.navbar {
	background-color: #F5FAFA;
}

.nav-item {
	-webkit-appearance: none;
	color: #B7AFA3;
	outline: none;
	border: 0;
	background: transparent;
	margin: 0px;
}

.nav-item:hover {
	color: #3e3931;
}

.glyphicon {
	color: #B7AFA3;
}

.glyphicon:hover {
	color: #3e3931;
}

.glyph-warning {
	color: red;
}

.group-list-glyph {
	font-size: 1.5em;
	color: #505050;
}
.group-list-glyph:hover {
	color: #434343;
}

.glyph-warning:hover {
	color: darkred;
}

.invisible-button {
	-webkit-appearance: none;
	outline: none;
	border: 0;
	background: transparent;
}

.hamburgerDropdown {
	-webkit-appearance: none;
	outline: none;
	border: 0;
	background: transparent;
	font-size:1.3em;
	margin-top: 11px;
	margin-right: -10px;
	float: right;
}

.btn {
	margin: 3px;
}

.btn-info {
	background-color: #6D929B;
	margin: 3px;
	border: 1px solid #57777e;
}

.btn-info:hover {
	background-color: #4c686f;
}

.dropdownMenuStyle {
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.9);
	border: 2px solid #DCDCDC;
}

p {
    font-size: 12px;
    letter-spacing: 1px;
}

.selectList {
    margin: 5px;
    padding: 5px;
    width: 100%;
    max-width: 200px;
}

.membershipRevokedStyle {
    background-color: lightgray;
    color: darkgray;
}


.animalListElement {
    padding: 10px;
    margin: 10px;

	cursor: pointer;
    /* for a drop shadow: */
    -webkit-box-shadow: 5px 5px 7px 2px rgba(153,153,153,0.63);
    -moz-box-shadow: 5px 5px 7px 2px rgba(153,153,153,0.63);
    box-shadow: 5px 5px 7px 2px rgba(153,153,153,0.63);

    background-color: #d8edf6; //ebe8e5; //#F5FAFA; //#B7AFA3; F5FAFA
	color: #495864 !important;
    /* for rounded corners: */
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;

	border: 0px solid #C1DAD6;
	  max-width: 600px;
}

.groupList {
	max-width: 600px;
	margin: 5 auto;
}

.groupListElement {
    padding: 10px;
    margin: 10px;

	cursor: pointer;
    /* for a drop shadow: */
    -webkit-box-shadow: 5px 5px 7px 2px rgba(153,153,153,0.63);
    -moz-box-shadow: 5px 5px 7px 2px rgba(153,153,153,0.63);
    box-shadow: 5px 5px 7px 2px rgba(153,153,153,0.63);

    background-color: #C1DAD6;
	color: #495864 !important;
    /* for a gradient: */
    /*
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,244,247,1) 0%, rgba(153,227,247,1) 92%, rgba(153,227,247,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(232,244,247,1)), color-stop(92%, rgba(153,227,247,1)), color-stop(100%, rgba(153,227,247,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,244,247,1) 0%, rgba(153,227,247,1) 92%, rgba(153,227,247,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,244,247,1) 0%, rgba(153,227,247,1) 92%, rgba(153,227,247,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,244,247,1) 0%, rgba(153,227,247,1) 92%, rgba(153,227,247,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(232,244,247,1) 0%, rgba(153,227,247,1) 92%, rgba(153,227,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#99e3f7', GradientType=0 );form.Microsoft.gradient( startColorstr='#82c2d3', endColorstr='#e4f3f7', GradientType=0 );r: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f3f7', endColorstr='#82c2d3', GradientType=1 );
    */

    /* for rounded corners: */
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
	  max-width: 600px;
}

.animalListElement:hover {
	color: #B7AFA3 !important;
};

.animalListInfo {
    border: solid 1px black;
}

.searchInputBox {
  max-width: 600px;
  margin: 0 auto;
}

.betaIntroDiv {
	max-width: 700px;
	margin: 0 auto;
	color: #495864;
}

.betaPageBold1, .betaPageBold2, .betaPageBold3 {
	/* font-weight: bold; */
	/* color: #B7AFA3; */
	font-size: 1.2em;
	line-height: 29px;
	text-align: left;
	margin-left: 50px;
	display: none;
}

.betaPageBold2 {
	/* letter-spacing: 1.6px; */
}
.betaPageBold3 {
    /* letter-spacing: 2.0px; */
}

.developedForText {
	color: white;
}

.privateBetaPage {
    padding: 20px;
	height: 95%;
	margin: 20px 10px 20px 10px;
	background-color: #C1DAD6;
   	color: #495864;
    border-radius: 25px;
	font-size: 1.1em;
	line-height: 1.5em;
	border: 3px solid #B7AFA3;
}

.loginPage {
    padding: 20px;
    margin: 20px;
}

.takePhotoButton {
    display: inline;
}

.addPhotoFileInput {
    display: none;
    visibility: hidden;
}

.GroupActionsBox {
    margin: 10px;
}

.padding {
    margin: 2px;
    padding: 5px;
}

.animalImg {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.animalInfo {
    text-align: left;
}

.animalThumbnailText {
    font-size: 13px;
    text-align: left;
}

.animalThumbnailImg {
    width: 75px;
    height: 75px;
}

.shelterResult {
    width: 100%;
}

.center-cropped-image {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}

.navbar-custom {
    display: inline-block;
}

.navbar-custom>li {
    display: inline-block;
    float: left;
}

.navbar-right {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar-right > li {
    display: inline-block;
    margin-top: 4px;
}


.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}
