
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/site.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css" rel="stylesheet" />


    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>

<!-- Code generated from https://developers.facebook.com/docs/facebook-login/web/login-button -->
<div id="fb-root"></div>
<script>
     window.fbAsyncInit = function () {
        FB.init({
            appId: '1021154377958416',
            xfbml: true,
            version: 'v2.5'
        });
    };
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1021154377958416";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div id="content"></div>
<script src="~/Built/main.bundle.js"></script>

</body>
</html>
