
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/site.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css" rel="stylesheet" />


    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
<div id="fb-root"></div>

<div id="content"></div>
<script src="~/Built/main.bundle.js"></script>

</body>
</html>
