
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://fb.me/react-0.14.0.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router/1.0.3/ReactRouter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.28.2/react-bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
    <div id="content"></div>
    <script src="@Url.Content("~/App/home.jsx")"></script>
</body>
</html>
