
@import 'base';


.animalListElement:hover {
  color: #B7AFA3 !important;
};

.animalListInfo {
    border: solid 1px black;
}

.animalListElement {
  @extend .base-list-element;
  background-color: $animal-bg-color;
  color: $animal-color !important;

  h4 {
    margin-top: 3px;
  }

  .media-object {
    margin: 5px;
    height: 80px;
  }
}

.animal-thumbnail-info-left {
  min-width: 90px;
  padding-right: 3px;
}

.animalInfo {
    text-align: left;
    margin: 0px;
}

.animalThumbnailText {
    font-size: 13px;
    text-align: left;
}

.animalThumbnailImg {
    width: 75px;
    height: 75px;

}

.animal-info-bar {
  .media-object {
    margin: 5px;
    height: 80px;
  }
}

.animal-thumbnail-description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
