@import 'mixins';
@import 'colors';

.base-list-element {
	padding: 10px;
	margin: 10px;
	max-width: 600px;
	cursor: pointer;
	@include box-shadow(5px, 5px, 7px, 2px, $shadow);
	@include border-radius(10px);
}
