.button {
  margin: 5 auto !important;
}

.btn {
  margin: 3px;
  padding: 10px;
  min-width: 75px;
}

.btn-info {
  color: $button-text-color;
  background-color: $button-color;
  border: 1px solid darken($button-color, 10%);
}

.btn-info:hover {
  background-color: darken($button-color, 15%);
}

.btn-big {
  margin: 5px;
  padding: 17px 17px;
}
