
@import 'mixins';

.groupListElement {
  @extend .base-list-element;

  background-color: $group-bg-color;
  color: $group-color !important;
}

.shelterResult {
  width: 100%;
}

.GroupActionsBox {
    margin: 10px;
}

.group-info-bar {
  @extend .info-bar;
}

.leave-group-link {
  cursor: pointer;
  font-size: 11px;
  float: left;
  position: absolute;
  top: 52;
  right: 4;
  color: transparentize($almostWhite, .5) !important;
}
