
@import 'mixins';

.groupListElement {
  @extend .base-list-element;

  background-color: $group-bg-color;
  color: $group-color !important;
}

.shelterResult {
  width: 100%;
}

.GroupActionsBox {
    margin: 10px;
}

.group-info-bar {
  .media {
    margin-top: 0px !important;
  }
}
