
.form-control {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.bootstrap-timepicker {
  margin: 0px !important;
}
