
.form-control {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
  max-width: 600px;
}

.bootstrap-timepicker {
  margin: 0px !important;
}


.input-group-addon {
    min-width:100px;
    text-align:left;
}

.input-group {
  max-width: 600px;
  margin: 5px auto;
  width: 100%;

  select {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    -webkit-appearance: none;
  }
}
