@import 'base';

.member-list-item {
  @extend .base-list-element;
  border: 3px solid $member-border-color !important;
  min-height: 50px;
}

.head-shot {
  height: 75px;
  width: 75px;
}

.member-info-bar {
  @extend .info-bar;
  p {
    margin: 2px;
    font-size: 12px;
  }
  a {
    color: $almostWhite;
    text-decoration: underline;
  }
}
