@import 'base';

.member-list-item {
  @extend .base-list-element;
  border: 3px solid $member-border-color !important;
  min-height: 50px;
  .media {
    margin-top: 0px !important;
  }
}

.member-info-bar {
  @extend .info-bar;
  p {
    margin: 2px;
    font-size: 12px;
  }
  .media-object {
    padding-top: 5px;
  }
}

.member-list-item-about-me {
  @extend .list-item-description;
  -webkit-line-clamp: 4 !important;
}
