
@import 'assets/stylesheets/bootstrap';
@import 'colorThemePrimary';
@import 'mixins';
@import 'nav';
@import 'buttons';
@import 'group';
@import 'member';
@import 'animal';
@import 'page';
@import 'search';
@import 'activity';
@import 'autosuggest';

h1 {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  margin: 2px;
  letter-spacing: 1px;
  line-height: 21px;
}

h2 {
  font-size: 12px;
  text-align: center;
  margin: 2px;
  letter-spacing: 1px;
}

.input-group-addon {
    min-width:100px;// if you want width please write here //
    text-align:left;
}

.input-group {
  max-width: 600px;
  margin: 5px auto;
}

.form-control {
  max-width: 600px;
}

.PostTextArea {
  display: block !important;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin: 5px auto !important;
}

.smallHelpText {
  font-size: 10px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: -20px;
}


.glyph-warning {
  color: red;
}

.group-list-glyph {
  font-size: 1.5em;
  color: #505050;
}
.group-list-glyph:hover {
  color: #434343;
}

.glyph-warning:hover {
  color: darkred;
}


p {
    font-size: 12px;
    letter-spacing: 1px;
}

.selectList {
    margin: 5px;
    padding: 5px;
    width: 100%;
    max-width: 200px;
}

.membershipRevokedStyle {
    background-color: lightgray;
    color: darkgray;
}

.searchInputBox {
  max-width: 600px;
  margin: 0 auto;
}

.betaIntroDiv {
  max-width: 700px;
  margin: 0 auto;
  color: #495864;
}

.betaPageBold1, .betaPageBold2, .betaPageBold3 {
  /* font-weight: bold; */
  /* color: #B7AFA3; */
  font-size: 1.2em;
  line-height: 29px;
  text-align: left;
  margin-left: 50px;
  display: none;
}

.betaPageBold2 {
  /* letter-spacing: 1.6px; */
}
.betaPageBold3 {
    /* letter-spacing: 2.0px; */
}

.developedForText {
  color: white;
}

.privateBetaPage {
    padding: 20px;
  height: 95%;
  margin: 20px 10px 20px 10px;
  background-color: $private-beta-page-bg-color;
     color: $private-beta-page-color;
    border-radius: 25px;
  font-size: 1.1em;
  line-height: 1.5em;
  border: 3px solid $beta-page-border-color;
}

.loginPage {
    padding: 20px;
    margin: 20px;
}

.slider-img {
  margin: 5px;
  height: 100px;
}

.photo-slider {
  height: 100px;
  background-color: #fafaf9;
  margin: 10px 40px;
}

.slick-next, .slick-prev {
  background-color: #C1DAD6 !important;
  color: #495864 !important;
}

.slick-disabled {
  background-color: lightgrey;
  color: #495864;
}

.addPhotoFileInput {
    display: none !important;
}

.animalImg {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.center-cropped-image {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}

.photo-upload {
  cursor: pointer;
}

.media, .media-body {
    overflow: visible;
    zoom: 1;
}
